@use "sass:color";


@use './function' as *;

$main-color :#4461F2;

$border-radius-sm: rem(8);
$border-radius: rem(16);
$border-radius-lg: rem(20);
.text-primary {
  color: $main-color !important;
}
.bg-primary {
  background-color: $main-color !important;;
}
.border-primary {
  border-color: $main-color !important;;
}
.btn-primary {
  background-color: $main-color !important;
  &:hover {
    // background-color: darken($main-color, 5%) !important;

    // background-color: color.adjust($main-color, $lightness: 50%) !important; // Convert Code Color to Hsl
    background-color: color.scale($main-color, $lightness: -5%) !important; //Covert Code color to RGB
    // background-color: color-mix(in srgb, $main-color, black 10%) !important; // Mix with 10% black
  }
}

.btn-outline-primary {
  border-color: $main-color !important;
  color: $main-color !important;
  &:hover {
    background-color: $main-color !important;
    color: #fff !important;
  }
}
