@use './function' as *;
$main-color :#4461F2;

$border-radius-sm: rem(8);
$border-radius: rem(16);
$border-radius-lg: rem(20);
.text-primary {
  color: $main-color !important;
}
.bg-primary {
  background-color: $main-color !important;;
}
.border-primary {
  border-color: $main-color !important;;
}
.btn-primary {
  background-color: $main-color !important;
  &:hover {
    background-color: darken($main-color, 5%) !important;
    // background-color: scale($main-color,  50%);
  }
}

.btn-outline-primary {
  border-color: $main-color !important;
  color: $main-color !important;
  &:hover {
    background-color: $main-color !important;
    color: #fff !important;
  }
}
