@use "../abstracts" as *;

input.form-control {
  border-radius: $border-radius-sm;
}

.form-floating {
  label {
    color: #A1A4A9;
  }
  input.form-control {
    box-shadow: 0 rem(18) rem(30) #4461F20D;
    &:focus {
      border-color: $main-color;
      border-width: rem(2);
      box-shadow: 0 rem(10) rem(20) #4461F20D;
    }
  }
}
