<section class="user-profile ">
  <div class="card-profile">
    <div class="card-image">
      <img src="../../../../assets/images/user.png" alt="User profile">
    </div>
    <div class="card-profile-body">
      <h2 class="card-title">Ahmed Mohamed</h2>
      <p class="card-text">Voluptatem aut</p>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 75%"></div>
      </div>
      <div class="card-statistics">
        <div class="stat">
          <div class="stat-icon">
            <i class="fa-solid fa-flag fa-fw"></i>
          </div>
          <div class="stat-body">
            <h3 class="stat-value">27</h3>
            <p>Quiz Passed</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-icon">
            <i class="fa-solid fa-clock fa-fw"></i>
          </div>
          <div class="stat-body">
            <h3 class="stat-value">13 min</h3>
            <p>Fastest Time</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-icon">
            <i class="fa-solid fa-circle-check fa-fw"></i>
          </div>
          <div class="stat-body">
            <h3 class="stat-value">200</h3>
            <p>Correct Answers</p>
          </div>
          </div>
      </div>
    </div>
  </div>
</section>
