@use '../../../../assets/scss/abstracts' as *;

.auth {

  .side-content {
    background-color: #F0F4FC;
    border-start-end-radius:rem(100) ;
    border-end-end-radius:rem(100) ;
    padding: min(rem(80), 10vw);
    padding-inline-end: rem(147);
    height: 100dvh;
    position: sticky;
    top: 0;
    inset-inline-start: 0;
    h2.title-content {
      font-size: clamp( rem(30) , calc(2.9vw + rem(16)) , rem(100));

      // font-size: rem(60);
      font-weight: 700;
      color: #000;
      margin-bottom: rem(8);
    }
    p {
      font-size: rem(18);
      font-weight: 400;
      color: #000;
    }
    .image {
      // width: rem(383.77);
      height: rem(350);
      margin-bottom: 0;
      // margin-inline: auto;

    }
  }
  .form-content {
    padding: min(rem(40), 5vw);
    // padding: rem(40);
    ul.nav {
      margin-bottom: rem(60);
      gap: min(rem(16), 2vw);
      li:not(:first-child) {

        .nav-link {
          border: 1px solid #E0E0E9;
          color: $main-color;
          border-radius: rem(16);
          transition: all 0.3s ease-in-out;

          &:not(.active):hover {
            background-color: $main-color;
            color: #fff;
          }
          &.active {
            font-weight: 700;
            border-color: transparent;
            cursor: default;
          }
        }
      }
    }
    .title-form {
      font-size: rem(24);
      font-weight: 700;
      color: #000;
      margin-bottom: rem(30);
    }
    .title-change-login {
      font-size: rem(16);
      font-weight: 400;
      color: #6C737F;
      margin-bottom: rem(20);
      position: relative;
      isolation: isolate;
      text-align: center;
      margin-block: rem(32);
      span {
        padding-inline: 10px;
        background-color: #fff;
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #E7E7E7;
        z-index: -1;
      }
    }
    .social-media {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: rem(32);

      a {
        padding: min(rem(15), 4vw);
        background-color: #fff;
        border-radius: rem(16);
        border: 1px solid #E0E0E9;
        box-shadow: 0px 18px 30px #4461F21C;
        width: rem(64);
        height: rem(64);
        display: grid;
        place-items: center;
        &:hover {
          background-color: #F0F4FC;
          transition: all 0.3s ease-in-out;
          box-shadow: 0px 5px 10px #4461F21C;

        }
      }
    }
  }
}
