<form [formGroup]="registerForm" (ngSubmit)="register()" class="mx-5">
  <h3 class="title-form text-black fw-bold mb-4">Sign up</h3>
  <div class="form-floating mb-45">
    <input type="text" class="form-control" id="username" placeholder="User Name" formControlName="username">
    <label for="username">User Name</label>
  </div>
  <div class="form-floating mb-45">
    <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
    <label for="firstName">First Name</label>
  </div>

  <div class="form-floating mb-45">
    <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
    <label for="lastName">Last Name</label>
  </div>
  <div class="form-floating mb-45">
    <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
    <label for="email">Enter Email</label>
  </div>
  <div class="form-floating mb-45 input-password">
    <input [type]="passwordStatus ? 'text':'password'" class="form-control" formControlName="password" suggested="current-password" id="Password" placeholder="Password" autocomplete="off">
    <label for="Password">Password</label>
    <a class="position-absolute top-50 translate-middle-y end-0 p-3 text-secondary" (click)="passwordStatus = !passwordStatus"><i class="fa-solid  " [class]="passwordStatus?'fa-eye' : 'fa-eye-slash'"></i></a>
  </div>
  <div class="form-floating mb-3 input-password">
    <input [type]="rePasswordStatus ? 'text':'password'" class="form-control" formControlName="rePassword" suggested="current-password" id="rePassword" placeholder="Confirm Password" autocomplete="off">
    <label for="rePassword">Confirm Password</label>
    <a class="position-absolute top-50 translate-middle-y end-0 p-3 text-secondary" (click)="rePasswordStatus = !rePasswordStatus"><i class="fa-solid  " [class]="rePasswordStatus?'fa-eye' : 'fa-eye-slash'"></i></a>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
    <label for="phone">Phone</label>
  </div>
  <p class="text-center mb-5">Already have an account?   <a routerLink="../login" class="text-primary ">Login</a>
  </p>
  <button class="btn btn-primary btn-lg d-block w-100 ">Create Account </button>
</form>
