<form [formGroup]="registerForm" (ngSubmit)="register()" class="mx-5">
  <h3 class="title-form text-black fw-bold mb-4">Sign up</h3>
  <div class="form-floating mb-5">
    <input type="text" class="form-control" id="floatingInput" placeholder="First Name">
    <label for="floatingInput">First Name</label>
  </div>
  <div class="form-floating mb-5">
    <input type="text" class="form-control" id="floatingInput" placeholder="Last Name">
    <label for="floatingInput">Last Name</label>
  </div>
  <div class="form-floating mb-5">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Enter Email</label>
  </div>
  <div class="form-floating mb-5 input-password">
    <input [type]="passwordStatus ? 'text':'password'" class="form-control" suggested="current-password" id="floatingPassword" placeholder="Password" autocomplete="off">
    <label for="floatingPassword">Password</label>
    <a class="position-absolute top-50 translate-middle-y end-0 p-3 text-secondary" (click)="passwordStatus = !passwordStatus"><i class="fa-solid  " [class]="passwordStatus?'fa-eye' : 'fa-eye-slash'"></i></a>
  </div>
  <div class="form-floating mb-3 input-password">
    <input [type]="rePasswordStatus ? 'text':'password'" class="form-control" suggested="current-password" id="floatingPassword" placeholder="Confirm Password" autocomplete="off">
    <label for="floatingPassword">Confirm Password</label>
    <a class="position-absolute top-50 translate-middle-y end-0 p-3 text-secondary" (click)="rePasswordStatus = !rePasswordStatus"><i class="fa-solid  " [class]="rePasswordStatus?'fa-eye' : 'fa-eye-slash'"></i></a>
  </div>
  <p class="text-center mb-5">Already have an account?   <a routerLink="../login" class="text-primary ">Login</a>
  </p>
  <button class="btn btn-primary btn-lg d-block w-100 ">Create Account </button>
</form>
