@if(!setPassword) {
  <form [formGroup]="verifyForm" (ngSubmit)="verify()" class="mx-sm-5">
    <h3 class="title-form text-black fw-bold mb-4">Verify code</h3>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="resetCode" formControlName="resetCode" placeholder="Enter Code">
      <label for="resetCode">Enter Code</label>
      <div class="text-danger"  *ngIf="verifyForm.get('resetCode')?.touched && verifyForm.get('resetCode')?.invalid">
        <span *ngIf="verifyForm.get('resetCode')?.getError('required')">
          Reset code is required.
        </span>
        <span *ngIf="verifyForm.get('resetCode')?.getError('minlength')">
          Reset code must be at least 6 characters long.
        </span>

      </div>
    </div>
    <p class="text-end mb-5">Didn’t receive a code?    <a routerLink="" class="text-primary ">Resend</a>
    </p>

    <button class="btn btn-primary btn-lg d-block w-100 " [disabled]="verifyForm.invalid">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="!loading">Verify</span>
    </button>
  </form>
} @else {
  <app-set-password ></app-set-password>

}


